@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#recipe-show {
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

#recipe-header {
  height: 87vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
}

#recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 20px;
  }

  h2 {
    margin-top: 50px;
  }
}

#recipe-container {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 5%;
}

#recipe-body {
  text-align: center;
}

.instruction-header {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.instruction-item {
  margin: 10px;
  font-size: 18px;
  line-height: 30px;
}

#step-item p {
  font-weight: bold;
  margin: 10px;
}

#recipe-reviews {
  display: flex;
  flex-direction: column;
}

.user-review {
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.351);
}

.review-input {
  font-family: 'Poppins', sans-serif;
  resize: none;
  height: 100px;
  width: 350px;
  font-size: 15px;
}

.rating {
  padding-top: 20px;

  label {
    transition: color 0.25s;
  }
  
  label:hover {
    color: red;
  }

  input {
    display: none;
  }

  i {
    font-size: 25px;
  }
}
