#searchbar-container {
  margin-top: 10%;

  button {
    display: none;
  }

  input {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    width: 500px;
    height: 50px;
  }
}

#search-modal-form {
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.653);
}

.search-modal-text {
  position: absolute;
  top: 20%;

  input {
    font-family: "Poppins", sans-serif;
    width: 40vw;
    background: transparent;
    border: none;
    height: 5vw;
    font-size: 50px;
    border-bottom: 1px solid black;
  }

  input:focus {
    outline: none;
  }

  button {
    background: none;
    border: none;
    margin-right: 10px;
  }

  i {
    font-size: 50px;
  }

  #close-search-modal {
    position: absolute;
    top: -20%;
    right: -1%;
    font-size: 35px;
    transition: color 0.25s;
  }

  #close-search-modal:hover {
    color: red;
  }
}
