@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather&family=Roboto+Slab&display=swap');

#user-show {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}

#user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  padding-top: 80px;
  width: 100vw;
} 

#header-image {
  background-image: image-url('possiblebackground2.jpg');
  position: absolute;
  z-index: -1;
  top: 80px;
  width: 100vw;
  height: 200px;
}

i {
  font-size: 250px;
}

#user-bio {
  padding-top: 40px;
  font-size: 22px;
}

#user-recipe-container {
  padding-top: 20px;
  text-align: center;
}

#users-recipes {
  padding-top: 20px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 300px;
}