@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather&family=Roboto+Slab&display=swap');

#user-show {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  padding-top: 200px;
} 

p {
  padding-top: 10px;
  font-size: 22px;
}

