#user-show {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

#user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  padding-top: 80px;
  width: 100vw;
} 

#header-image {
  background-image: image-url('possiblebackground2.jpg');
  position: absolute;
  z-index: -1;
  top: 80px;
  width: 100vw;
  height: 200px;
}

i {
  font-size: 250px;
}

#user-bio {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
}

#user-recipe-container {
  background-color: #F1F2F2;
  padding-top: 50px;
  margin-top: 15px;
  width: 100vw;
  padding-bottom: 8vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#users-recipes {
  padding-top: 20px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 20px;
  width: 250px;
  height: 380px;
}

.recipe-item > a {
  color: black;
  text-decoration: none;
}

.recipe-showcase {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;

  h1 {
    text-align: center;
  }
}

.recipe-showcase > div {
  display: flex;
  flex-direction: column;
}

.recipe-show-details {
  height: 100px;
  font-size: 22px;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.reviews-and-ratings {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}